<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>


    <add name="SaGEDLSTransformEntities"
       connectionString="metadata=res://*/SaGE_RAF_DLS.csdl|res://*/SaGE_RAF_DLS.ssdl|res://*/SaGE_RAF_DLS.msl;provider=System.Data.SqlClient;
         provider connection string=&quot;data source=OMNSQPV06D1\DEV1;initial catalog=SaGEDLSTransform;integrated security=True;
         multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
</configuration>