<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SaGEClientEntities" 
         connectionString="metadata=res://*/SaGE_Client.csdl|res://*/SaGE_Client.ssdl|res://*/SaGE_Client.msl;
         provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DT051300\CORRESPONDENCE;
         Initial Catalog=SaGEClient;Integrated Security=True;MultipleActiveResultSets=True;
         Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>